@import "..//../variables.scss";


.table {
    width: 100%;
    border-collapse: collapse;
    background-color: transparent;
  }
  
  .table_header {
    color: #a3a3a3;
    // border-bottom: 1px solid #A3A3A3;
    padding: 0 0 8px 0;
    text-align: left;
  
    font-family: Lato;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
  }
  .table_row {
  }
  
  .table_data {
    color: $text-color;
    border-top: 1px solid #a3a3a3;
  
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  
    padding: 16px 0 16px 0;
  }
  
  .img_list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .img_cover {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 64px;
    border-radius: 8px;
    object-fit: cover;
    overflow: hidden;
    background-color: #f4f6fa;
    // margin-right: auto;
    // margin-left: auto;
    // margin-bottom: 20px;
    // background-image: url(../../images/placeholder.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    margin-left: 12px;
  }
  
  .img {
    display: block;
    width: 64px;
    min-height: 64px;
    object-fit: cover;
    overflow: hidden;
  }
  
  .img_text {
    color: $text-color;
  
    font-size: 18px;
    font-weight: 600;
    line-height: 1.77;
  }
  
  .link {
    cursor: pointer;
    outline-color: transparent;
  }

  .link:hover,
  .link:focus {
    color: $focus-color;
  }