@import "../../variables.scss";

.section {
  padding-top: 40px;
  padding-bottom: 100px;
}

.product_info {
  outline: 1px solid red;
  display: flex;
}

.product_imgs {
  outline: 1px solid blue;
  margin-right: 32px;

  //   width:173px;

  width: 482px;
  height: 551px;
}

.product_text {
  width: 479px;
  outline: 1px solid green;
}

.product_not {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.77;
  color: #A3A3A3;
  margin-bottom: 8px;
}

.product_in {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.77;
  color: $in-stock-color;
  margin-bottom: 8px;
}

.product_title {
  color: $text-color;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: capitalize;

  margin-bottom: 20px;
}

.product_rating {
  color: $text-color;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.77;
  margin-bottom: 40px;
}

.product_price_box {
  display: flex;
    margin-bottom: 56px;
}

.product_price {
  color: $text-color;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
}

.product_price_not {
  color: #5f5f5f;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.33;
  text-decoration: line-through;
  margin-left: 16px;
}

.product_quantity {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.btn_quantity {
  display: flex;
  width: 48px;
  height: 48px;
  // padding: 8px;

  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 999px;
  border: 2px solid $main-color;
}

.btn_quantity:hover {
  border-color: $hover-color;
  color: $hover-color;
}

.btn_quantity:focus {
  border-color: $focus-color;
  color: $focus-color;
}

.quantity {
  color: #1a1a1a;
  text-align: center;
  font-size: 21px;
  font-weight: 700;
  line-height: 1.14;

  margin: 0 24px;
}

.product_btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn_add {
  display: flex;
  width: 403px;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
  border-color: transparent;
  background-color: $main-color;
  box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
  color: $btn-text;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.14;
  cursor: pointer;
  outline-color: transparent;
}

.btn_add:hover {
  background-color: $hover-color;
}
.btn_add:focus {
  background-color: $focus-color;
}

.btn_add_disabled{
  background-color: $outstock-btn;
  display: flex;
  width: 403px;
  padding: 16px 56px;
  justify-content: center;
  align-items: center;

  border-radius: 999px;
  border-color: transparent;
  box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
  color: $btn-text;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.14;
  outline-color: transparent;
}

.favourite_icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  color: $main-color;

  border: none;
  background-color: transparent;
  cursor: pointer;
  outline-color: transparent;
}

.favourite_icon:hover {
  color: $hover-color;
}
.favourite_icon:focus {
  color: $focus-color;
}

.link_list {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #d0d0d0;

  margin-bottom: 48px;
}

.link_item:not(:last-child) {
  margin-right: 32px;
}

.link_title {
  display: block;
  cursor: pointer;
  padding: 12px 8px;
  color: $text-color;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.33;

}

.link_title:global(.active) {
  color: $main-color;
  border-radius: 8px;
  border-bottom: 3px solid $main-color;
}

.product_info_box {
  margin-bottom: 96px;
}

.subtitle {
  color: $text-color;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.33;
  text-transform: capitalize;

  margin-bottom: 32px;
}
