@import '../../variables.scss';



  .product_info{
outline: 1px solid red;
display: flex;

  }

  .product_imgs{
    outline: 1px solid blue;
    margin-right: 32px;

    //   width:173px;

   width:482px;
   height:551px;

  }

.product_text {
    width:479px;
    outline: 1px solid green;
}
.product_title {
    color: $text-color;

    font-size: 36px;
    font-weight: 600;
    line-height: 1.33; 
    text-transform: capitalize;
}



  .product_price {
    color: $text-color;

    font-size: 30px;
    font-weight: 600;
    line-height: 1.33; 
  }

  .product_quantity{
display: flex;
  }

  .btn_quantity {
    display: flex;
    width: 48px;
    height: 48px;
    // padding: 8px;

    justify-content: center;
    align-items: center;
background-color: transparent;
    border-radius: 999px;
border: 2px solid $main-color;
  }


  .btn_quantity:hover {
    border-color: $hover-color;
    color: $hover-color;
  }

  .btn_quantity:focus {
    border-color: $focus-color;
    color: $focus-color;
  }

  .product_btn{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.btn_add {
    display: flex;
    width:403px;
    padding: 16px 56px;
    justify-content: center;
    align-items: center;
    
    border-radius: 999px;
    border-color: transparent;
    background-color: $main-color;
    box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
    color: $btn-text;
    font-size: 21px;
    font-weight: 800;
    line-height: 1.14; 
    cursor: pointer;
    outline-color: transparent;

  }
  
  .btn_add:hover {
    background-color: $hover-color;
  }
  .btn_add:focus {
    background-color: $focus-color;
  }


  
 .favourite_icon {
    width: 44px;
    height: 44px;
  border-radius: 50%;
color:$main-color;

    border: none;
    background-color:transparent;
    cursor: pointer;
    outline-color: transparent;
  }

  .favourite_icon:hover {
    color: $hover-color;
  }
  .favourite_icon:focus {
    color: $focus-color;
  }


  .link_list {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D0D0D0;
  }

  .link_item:not(:last-child) {
margin-right: 32px;
  }

  .link_title {
    display: block;
   cursor: pointer;
    padding: 12px 8px;
 color:$text-color;

font-size: 21px;

font-weight: 600;
line-height: 1.33; 

:global(.active) {
    color: $main-color;
    border-radius: 8px;
border-bottom: 3px solid $main-color;
    }
  }