@import '..//..//..//../variables.scss';

.productContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.columnHeaders {
    display: flex;
    height: 40px;
    width: 100%;
    margin-top: 5px;
    font-style: 'Lato';
    font-size: 16px;
    font-weight: 400;

    & > p {
        display: flex;
        text-align: center;
        align-items: center;
        flex: 0.1;

        &:not(:last-child :first-child) {
            border-right: 1px solid #fff;
        }

        &:not(:nth-child(1)):not(:nth-child(2)) {
            justify-content: center;
        }

        &:nth-child(2) {
            flex: 0.3;
        }

        &:nth-child(6) {
            flex: 0.12;
        }

        &:nth-child(7) {
            flex: 0.07;
        }

        &:nth-child(8) {
            flex: 0.09;
        }

        &:nth-child(9) {
            flex: 0.07;
        }
    }
}

.productRow {
    height: 80px;
    display: flex;
    width: 100%;
    border-radius: 10px;
    background-color: $available;
    margin: 3px 0;
    font-style: 'Lato';
    font-size: 14px;
    font-weight: 500;

    & > div {
        display: flex;
        align-items: center;
        height: 100%;
        flex: 0.1;
        

        &:not(:last-child :first-child) {
            border-right: 1px solid #fff;
        }
        &:not(:nth-child(1)):not(:nth-child(2)):not(:nth-child(9)) {
            justify-content: center;
            text-align: center;
        }

        &:nth-child(2) {
            flex: 0.3;
        }

        &:nth-child(6) {
            flex: 0.12;
        }

        &:nth-child(7) {
            flex: 0.07;
        }

        &:nth-child(8) {
            flex: 0.09;
        }

        &:nth-child(9) {
            flex: 0.07;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: flex-end;
            font-size: 22px;

            & > svg {
                padding: 2px;
                transform: scale(1.1);
                margin-right: 8px;
                cursor: pointer;
            }
        }
    }
}

.notAvailable {
    background-color: $not-available;
}

.picture {
    width: 35px;
    height: 35px;
}