@import "../../../src/variables";

.item {
  position: relative;
  height: 548px;
  border-radius: 4px;
  background-color: #fefefe;
  border-radius: 4px;
  overflow: hidden;
  z-index: 5;
}

.item:hover {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}
.item:focus {
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.15);
}

.cardInfo {
  padding-right: 16px;
  padding-left: 16px;
  padding-top: 16px;
  padding-bottom: 32px;
}

.img_cover {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 276px;
  height: 276px;
  border-radius: 8px;
  object-fit: cover;
  overflow: hidden;
  background-color: #f4f6fa;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.itemImg {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

.title {
  margin: 0;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.33;
  color: $text-color;
  margin-bottom: 8px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.cardStockIn {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.77;
  color: $in-stock-color;
  margin-bottom: 8px;
}
.cardStockNot {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.77;
  color: #A3A3A3;
  margin-bottom: 8px;
}

.cardRating {
  display: flex;
  align-items: center;
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  color: $second-text-color;
  margin-bottom: 12px;
}

.cardRating_left {
  margin-left: 12px;
}

.cardPriceBox {
  display: flex;
  align-items: center;
  margin: 0;
  margin-bottom: 16px;
}

.cardPrice {
  color: $text-color;
  font-size: 21px;
  font-weight: 600;
  line-height: 1.33;
}

.cardPriceNot {
  color: #5f5f5f;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  text-decoration: line-through;
  margin-left: 16px;
}

.cardButtons {
  margin-top: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 32px;
  left: 16px;
  z-index: 10;
}

.normalStyle {
  display: flex;
  padding: 12px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border-color: transparent;
  background-color: $main-color;
  box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
  color: $btn-text;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.14;
  cursor: pointer;
  outline-color: transparent;
}

.btnDisabled{
  background-color: $outstock-btn;
  display: flex;
  padding: 12px 26px;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  border-color: transparent;
  box-shadow: 0px 1px 2px 0px rgba(198, 228, 246, 0.05);
  color: $btn-text;
  font-size: 21px;
  font-weight: 800;
  line-height: 1.14;
  outline-color: transparent;
}

.normalStyle:hover {
  background-color: $hover-color;
}
.normalStyle:focus {
  background-color: $focus-color;
}

.favouriteBox {
  width: 44px;
  height: 44px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  border-radius: 50%;
  color: $main-color;

  border: none;
  background-color: transparent;
  cursor: pointer;
  outline-color: transparent;
}

.favouriteBox:hover {
  color: $hover-color;
}
.favouriteBox:focus {
  color: $focus-color;
}
