.productContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.firstLine {
    display: flex;
    justify-content: space-between;
    font-size: 30px;
    font-weight: 600;
    width: 100%;
    margin: 40px 0 20px 0;
}