.section {
    padding-top: 40px;
    padding-bottom: 100px;
}

.disableScroll {
    overflow: hidden;
}

// .appInner {
//     min-height: 250px;
// }

.btnBox {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.container {
    width: 1440px;
    margin: 0 auto;
    padding: 0 120px;
}