@import "..//../variables.scss";

.container {
    width: 1440px;
    padding: 0 120px;
    display: flex;
    font-family: 'Lato';
    color: $text-color;

    & > div:nth-child(1) {
        width: 25%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $left-background;

        & > a {
            display: inline-block;
            margin: 40px auto;
            align-items: center;
            text-align: center;
        }
        
    }
    & > div:nth-child(2) {
        width: 75%;
        margin-inline: 20px;
    }
}

.content {
    cursor: pointer;
    display:flex;
    flex-direction: column;
    align-items: center;
    transition: all 0.3s;
    width: 100%;
    flex-wrap: nowrap;
    overflow: hidden;
    position: relative;

    & > div {
        display:flex;
        justify-content: space-between;
        width: 100%;
        padding: 10px 14px;
    }

    & > .contentList {
        font-size: 18px;
        font-weight: 400;
        overflow: hidden;
        transition: max-height 0.3s;

        & > li {
            padding: 10px 24px;
        }
    }
}

.content.open .contentList {
    max-height: 1000px;
}

.contentItem {
    
}

.list {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: 600;
    transition: transform 0.3s ease;

    & > div {
        width: 194px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 4px 0;

        :global(.active) {
            color: $main-color;
        }

        &:not(:nth-child(2)) {
            padding: 10px 14px;
        }
    }
}

.activeItem {
    color:$main-color;
    transition: all 0.3s;
    align-items: flex-start;
}


.rotatedIcon {
    transform: rotate(90deg);
    transition: transform 0.5s ease;
}

.firstLine {
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
    font-size: 32px;
    font-weight: 500;
    width: 100%;
    margin: 40px 0 20px 0;
    align-items: center;
}

.search {
    display: flex;
    align-items: center;
    input {
        width: 350px;
        height: 40px;
        padding: 8px 16px;
        border-radius: 40px;
        border: 1px solid #808080;
        gap: 8px;
        color: $second-text-color;
        margin-right: 100px;
    }
}

.topButton {
    background-color: $main-color;
    border-radius: 999px;
    padding: 8px 36px;
    cursor: pointer;
    color: $btn-text;
    border-color: transparent;
    font-size: 16px;
}

.topButton:hover {
    background-color: $hover-color;
}
.topButton:focus {
    background-color: $focus-color;
}
