.list {
    display: grid;
    grid-template-columns:276px 276px 276px;
    grid-column-gap: 32px;
    // grid-template-columns: repeat(auto-fill, 250px);
    // column-gap: 30px;
     row-gap: 80px;
    // justify-items: center;
    // padding-left: 0;
    // margin: 40px 0 40px;
    // list-style: none;
    // justify-content: center;

    @media (max-width: 550px) {
        justify-content: center;
    }
}
