.footer {
  height: 432px;
  margin-top: 100px;
  .footer-all {
    padding: 136px 120px 56px 120px;
    height: 248px;

    .footer-info {
      display: flex;
      justify-content: space-between;

      /* Налаштування для мобільних пристроїв */
      @media (max-width: 768px) {
        flex-direction: column;
        text-align: center;
      }
    }
    .logo-column {
      width: 273px;
    }

    .footer-column {
      width: 173px;
      height: 248px;
      h4 {
        //styleName: Caption default;
        font-family: Lato;
        font-size: 16px;
        line-height: 24px;
        font-weight: 700;
        letter-spacing: 0em;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 0px;
      }
    }

    /* Застосовуємо стилі для контенту в межах кожної колонки */
    .logo-column p {
      margin-top: 24px;
      //styleName: Body default;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
    }

    .footer-navigation {
      //styleName: Body default;
      font-family: Lato;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: center;
      text-decoration: none;
    }

    .footer-social {
      display: flex;
      justify-content: flex-end;
      margin: 0;
    }

    .footer-social a {
      margin-left: 16px; /* Додати відступ між іконками */
      color: #333;
      text-decoration: none;
    }

    .reserved {
      // margin-top: 136px;
      margin: 56px, 120px;
      // padding: 56px, 120px, 56px, 120px;
      font-family: Lato;
      font-size: 12px;
      font-weight: 500;
      line-height: 16px;
      letter-spacing: 0em;
      text-align: left;
    }
  }
}
