@import "../../variables.scss";


.section {
padding-top: 100px;
padding-bottom: 148px;
}

.hero {
    position: relative;  
}

.title_box {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
}

.title{
    color: $text-color;
     text-align: center;

    font-size: 64px;
    font-weight: 700;
    line-height: 1.12; 
    margin-bottom: 8px;
}

.title_notice{
    color: $second-text-color;
    text-align: center;
    
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33; 
    letter-spacing: 2.88px;
    text-transform: uppercase;
}

.title_signature{
    color: $text-color;
     text-align: center;
    
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5; 
}

.subtitle{
color: $text-color;

font-size: 36px;
font-weight: 600;
line-height: 1.33; 
text-transform: capitalize;

margin-bottom: 32px;
}

